*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a{
  text-decoration: none;
  color: black;
}

header{
  background-color: rgb(244, 238, 231);
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content:space-between;
}

main{
  min-height: 90vh;
}

footer{
  background-color: rgb(244, 238, 231);
  padding: 20px;
  text-align: center;
}

ul{
  display: flex;
  list-style: none;
}

ul li{
  padding: 10px;
}

ul a:hover:not(.active){
  color: rgb(123, 102, 102);
}

.active{
  border-bottom: 2px solid black;
}

.toast{
  position: fixed;
  z-index: 111;
  font-size: 12px;
  border-radius: 4px;
  bottom: 10px;
  right: 10px;
  padding: 10px;
  color: white;
}