.details {
  padding: 30px 0px;

  .product {
    background-color: white;
    padding: 20px;
    .product_info {
      display: flex;
      margin-bottom: 30px;
      flex-wrap: wrap;

      .product_image {
        img {
          width: 300px;
          height: 300px;
          margin-right: 20px;
          object-fit: contain;
        }
      }
      .product_details {
        flex-grow: 1;
        .title {
          padding-bottom: 10px;
          border-bottom: 1px solid #ececec;
          margin-bottom: 10px;
        }

        .price {
          margin-bottom: 15px;
        }

        .out_stock {
          background-color: red;
          color: white;
          padding: 5px;
          border-radius: 5px;
        }
        .quantity {
          margin: 10px 0px 20px;
          span {
            margin: 10px;
          }
          button {
            font-size: 20px;
            padding: 5px 10px;
            width: 40px;
            border: none;
          }
        }
        .buy_now,
        .add_to_cart {
          font-size: 15px;
          padding: 15px 25px;
          color: white;
          border: none;
        }
        .buy_now {
          background-color: rgb(151, 94, 167);
          &:hover {
            background-color: rgb(135, 76, 151);
          }
        }
        .add_to_cart {
          background-color: rgb(53, 176, 92);
          &:hover {
            background-color: rgb(36, 152, 73);
          }
        }
      }
    }
    .product_description {
      h3 {
        padding-bottom: 10px;
        border-bottom: 1px solid #ececec;
        margin-bottom: 20px;
      }
      p {
        line-height: 1.4;
      }
    }
  }

  .related_product {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
  }
}
