.card {
  background-color: white;
  cursor: pointer;
  box-shadow: 1px 1px 5px rgb(241, 172, 172);
  width: 12rem;
  margin: 10px;
  height: 250px;
  z-index: 1;

  &:hover {
    box-shadow: 1px 1px 5px rgb(166, 98, 98);
  }

  img {
    padding: 10px;
    width: 12rem;
    height: 10rem;
    object-fit: contain;
  }

  .card_body {
    padding: 10px;
  }
}
