.auth {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #f0f2f5;
  @media screen and (max-width: 500px) {
    background-color: white;
  }

  a {
    color: #333;
    text-decoration: underline;
  }

  .box {
    border-radius: 8px;
    background-color: white;
    padding: 40px;
    min-width: 400px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
    @media screen and (max-width: 500px) {
      min-width: auto;
      width: 100vw;
      box-shadow: none;
    }
  }

  form {
    margin: 30px 0px;
    div {
      margin: 10px 0px;
    }

    input {
      width: 100%;
      font-size: 1rem;
      padding: 10px;
    }

    button {
      width: 100%;
      font-size: 1rem;
      background-color: #333;
      color: white;
      padding: 10px;
      cursor: pointer;
      border: none;
    }
  }
}
