* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f5eeee;
}

a {
  text-decoration: none;
  color: black;
}

main {
  margin-top: 65px;
  min-height: 80vh;
}

.container {
  width: 90%;
  margin: auto;
}
button {
  cursor: pointer;
}

.toast {
  position: fixed;
  z-index: 1111;
  font-size: 0.8rem;
  border-radius: 4px;
  bottom: 20px;
  right: 20px;
  padding: 10px;
  color: white;
}

.d-flex {
  display: flex;
  // justify-content: space-around;
  align-items: center;
}
